<div style='display: flex; justify-content: center'>
  <div style='width: 500px'>
    <img
      src='https://res.cloudinary.com/mailmodo/image/upload/v1675767739/editor/p/787f24ac-ab0b-4efe-be9f-44d6f2482c25/d54b04fa098225e8b63f70d803a86a21_meojzk.png'
      alt=''
      style='width: 100%'
    />
    <p
      style='
            font-size: large;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
          '
    >
      Quên Mật Khẩu
    </p>
    <p>
      Xin chào
      {{name}},
    </p>
    <p>
      Chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn. Đừng
      lo lắng, chúng tôi sẽ giúp bạn khôi phục quyền truy cập vào tài khoản của
      mình.
    </p>

    <p>
      Vui lòng nhấn vào liên kết bên dưới để đặt lại mật khẩu mới cho tài khoản
      của bạn:
    </p>

    <a href={{link}} target='_blank' rel='noopener'>Đặt lại Mật Khẩu</a>

    <p>
      Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này. Tài khoản
      của bạn vẫn được bảo vệ và an toàn.
    </p>

    <p>
      Nếu bạn gặp bất kỳ vấn đề nào hoặc cần sự giúp đỡ, đừng ngần ngại liên hệ
      với chúng tôi qua
      <a href='' style='color: #098ddf'>đây</a>.
    </p>

    <p>
      Trân trọng,
      <br />
      Team hỗ trợ
    </p>

    <p style='text-align: center; color: gray'>
      Bản quyền © 2024 Team 6.
    </p>
  </div>

</div>