<div style='display: flex; justify-content: center'>
  <div style='width: 500px'>
    <img
      src='https://res.cloudinary.com/mailmodo/image/upload/v1675767739/editor/p/787f24ac-ab0b-4efe-be9f-44d6f2482c25/d54b04fa098225e8b63f70d803a86a21_meojzk.png'
      alt=''
      style='width: 100%'
    />
    <p
      style='font-size: large; font-weight: bold; text-align: center; text-transform: uppercase;'
    >
      Thông Báo Quan Trọng
    </p>
    <p>
      Kính gửi
      {{name}},
    </p>
    <p>
      Chúng tôi xin thông báo rằng việc đăng ký của bạn đã được xác nhận và vui
      lòng thực hiện việc đóng học phí .
    </p>

    <p style='text-align: center; color: gray;'>
      Bạn đã nhận được email này vì bạn là một sinh viên của chúng tôi. Xin vui
      lòng không chia sẻ thông tin này với người khác.
      <br />
      Bản quyền © 2024 Trường Đại Học Công Nghiệp Thành Phố HCM.
    </p>

  </div>
</div>