<div style='display: flex; justify-content: center'>
  <div style='width: 500px'>
    <img
      src='https://res.cloudinary.com/mailmodo/image/upload/v1675767739/editor/p/787f24ac-ab0b-4efe-be9f-44d6f2482c25/d54b04fa098225e8b63f70d803a86a21_meojzk.png'
      alt=''
      style='width: 100%'
    />
    <p
      style='
            font-size: large;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
          '
    >
      Chào Mừng
      {{name}}
      Đến Với Website Chúng Tôi
    </p>
    <p>
      Chúng tôi rất hạnh phúc vì bạn đã tham gia! Ý tưởng này rất đơn giản:
      trang web giúp bạn có thể trò chuyện với bạn bè và thực hiện nhiều công
      việc hơn khi làm việc với nhóm của bạn, đơn giản là một mình.
    </p>

    Ngoài ra, bạn cũng sẽ nhận được email thông báo dựa trên hoạt động trong khi
    sử dụng ứng dụng.

    <p>
      Đã xong! Bạn đã có đủ thông tin để khởi đầu với ứng dụng của chúng tôi.
      Nếu gặp khó khăn, hãy
      <a href='' style='color: #098ddf'>liên hệ với chúng tôi</a>
      bất cứ lúc nào.
    </p>
    <p>
      Cảm ơn! Chúng tôi rất vui khi có bạn tham gia
      <br />
      Team báo cáo trường Đại Học Công Nghiệp Thành Phố HCM.
    </p>

    <a href={{link}} target='_blank' rel='noopener'>Vui lòng xác nhận email</a>
    <p style='text-align: center; color: gray'>
      Copyright © 2024 Team 6.
    </p>
  </div>
</div>